html {
  background-color: #1f2933;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

body {
  background-color: #1f2933;
  color: #cbd2d9;
}

.notice-ribbon {
  display: block;
  position: relative;
  padding: 12px 20px;
  background: #ebf1f5;
  border-bottom: 1px solid #dae5ed;
}

.notice-ribbon-text {
  font-size: 10px;
  font-size: 1rem;
  color: #5c7080;
  font-weight: 400;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.navbar-dark .navbar-brand {
  color: #cbd2d9;
  font-size: 22px;
}

.navbar-dark .navbar-text {
  color: #cbd2d9;
}

.page-title {
  margin-bottom: 25px;
}

.page-description {
  margin-bottom: 50px;
  max-width: 789px;
}

h1 {
  font-size: 40px;
}
