html {
  background-color: #1f2933;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

body {
  background-color: #1f2933;
  color: #cbd2d9;
}

.navbar-dark .navbar-brand {
  color: #cbd2d9;
  font-size: 22px;
}

.navbar-dark .navbar-text {
  color: #cbd2d9;
}

.page-title {
  margin-bottom: 25px;
}

.page-description {
  margin-bottom: 50px;
  max-width: 789px;
}

h1 {
  font-size: 40px;
}
