@charset "utf-8";

/* Skip Navigation */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0px;
  top: -35px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  line-height: 30px;
  width: 190px;
  text-align: center;
}

#skip a:active,
#skip a:focus {
  top: 0;
}

/* Layout */
#wrap {
  width: 100%;
}
#header {
  width: 100%;
  height: 325px;
  background: url(../images/header_bg.jpg) center top repeat-x;
}
#contents {
  width: 100%;
  height: 800px;
  background: #222;
}
#footer {
  width: 100%;
  height: 200px;
  background: #333;
}

/* Contents Layout */
#cont_nav {
  width: 100%;
  height: 200px;
  background: #333;
}
#cont_tit {
  width: 100%;
  height: 200px;
  background: #444;
}
#cont_ban {
  width: 100%;
  height: 200px;
  background: #555;
}
#cont_cont {
  width: 100%;
  height: 200px;
  background: #666;
}

/* Container */
.container {
  width: 999px;
  margin: 0 auto;
  height: inherit;
  background: rgba(255, 255, 255, 0.3);
}
